.contentAlwaysWithOptions {
    display: block !important;
}
.dontHaveAccount {
    color: $contrast;
    font-weight: $sBold;
    font-size: 14px;
    margin-bottom: 15px;
}
.forgotPasswordLink {
    color: $base;
}
.content {
  border-radius: $radius;
  background-color: #fff;

    .loginOptionsContainer {
        .formTitle {
            color: $primaryColor;           
            font-weight: $sBold;
            font-size: 24px;
            margin: 0;
        }
    }

    .contentForm {
        .formTitle {
            color: $base;           
            font-weight: $sBold;
            font-size: 15px;
        }
        :global(.vtex-styleguide-9-x-input) {
            height: 40px;
            border-radius: $radius;
        }
        :global(.vtex-button) {
            height: 40px;            
            font-weight: $sBold;
            background-color: $buttonHover;
            border:none;
    
            :global(.vtex-button__label) {
                color: #fff;                
                
                :global(.t-small) {
                    font-size: 14px;
                    font-weight: $sBold;
                    text-transform: uppercase;
                }
            }
    
            &:hover {
                background-color: $buttonHover;
            }   
        }
        
    }
    

    :global(.vtex-input-prefix__group) {
        border:1px solid $border;
    }

   

    .loginOptionsContainer {
        padding-left: 0.75rem;
        padding-right: 0.75rem;

        :global(.vtex-button) {
            background-color: #fff;
            border-radius: 60px;
            text-transform: none;                
            
            :global(.vtex-button__label) {
                color: $base;       
                font-size: 12px;                         
                .oauthLabel {
                    text-transform: none;
                    font-size: 13px;
                }
                
            }
        }
    }
}

:global(.vtex-rich-text-0-x-paragraph--login-autentication) {
    font-size: 13px;
    color: $primaryColor;
    line-height: 15px;
    margin: 0 0 0 8px;
    font-weight: $sSemibold;
    //display: none;
}
:global(.vtex-rich-text-0-x-container--login-autentication) {    
    padding: 5px 10px;
    border-radius: $radius;
    background-color: $secondaryColor;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    min-width: 40px;
    min-height: 38px;

    &::before{
        content: "";
        display: block;          
        background-image: url("data:image/svg+xml,%3Csvg width='25' height='26' viewBox='0 0 25 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M25 12.9875C25 6.09375 19.4 0.5 12.5 0.5C5.6 0.5 0 6.09375 0 12.9875C0 16.7844 1.725 20.2062 4.425 22.5031C4.45 22.5281 4.475 22.5281 4.475 22.5531C4.7 22.7281 4.925 22.9031 5.175 23.0781C5.3 23.1531 5.4 23.2516 5.525 23.3516C7.59073 24.7521 10.0292 25.5006 12.525 25.5C15.0208 25.5006 17.4593 24.7521 19.525 23.3516C19.65 23.2766 19.75 23.1781 19.875 23.1016C20.1 22.9281 20.35 22.7531 20.575 22.5781C20.6 22.5531 20.625 22.5531 20.625 22.5281C23.275 20.2047 25 16.7844 25 12.9875ZM12.5 23.9266C10.15 23.9266 8 23.1766 6.225 21.9281C6.25 21.7281 6.3 21.5297 6.35 21.3297C6.49897 20.7877 6.71745 20.2672 7 19.7812C7.275 19.3063 7.6 18.8813 8 18.5063C8.375 18.1313 8.825 17.7828 9.275 17.5078C9.75 17.2328 10.25 17.0328 10.8 16.8828C11.3543 16.7334 11.9259 16.6583 12.5 16.6594C14.2041 16.6473 15.8457 17.301 17.075 18.4813C17.65 19.0563 18.1 19.7313 18.425 20.5047C18.6 20.9547 18.725 21.4297 18.8 21.9281C16.955 23.2252 14.7554 23.923 12.5 23.9266ZM8.675 12.3641C8.45472 11.8597 8.34395 11.3144 8.35 10.7641C8.35 10.2156 8.45 9.66563 8.675 9.16563C8.9 8.66563 9.2 8.21719 9.575 7.84219C9.95 7.46719 10.4 7.16875 10.9 6.94375C11.4 6.71875 11.95 6.61875 12.5 6.61875C13.075 6.61875 13.6 6.71875 14.1 6.94375C14.6 7.16875 15.05 7.46875 15.425 7.84219C15.8 8.21719 16.1 8.66719 16.325 9.16563C16.55 9.66563 16.65 10.2156 16.65 10.7641C16.65 11.3391 16.55 11.8641 16.325 12.3625C16.1079 12.8551 15.8029 13.3041 15.425 13.6875C15.0415 14.0648 14.5925 14.3693 14.1 14.5859C13.0669 15.0105 11.9081 15.0105 10.875 14.5859C10.3825 14.3693 9.93355 14.0648 9.55 13.6875C9.17159 13.3097 8.8739 12.8604 8.675 12.3641ZM20.275 20.6547C20.275 20.6047 20.25 20.5797 20.25 20.5297C20.0041 19.7475 19.6417 19.0069 19.175 18.3328C18.7078 17.6537 18.1337 17.0548 17.475 16.5594C16.9719 16.1809 16.4266 15.8621 15.85 15.6094C16.1123 15.4363 16.3554 15.2357 16.575 15.0109C16.9477 14.643 17.275 14.2317 17.55 13.7859C18.1037 12.8763 18.3896 11.8289 18.375 10.7641C18.3827 9.9758 18.2296 9.19425 17.925 8.46719C17.6243 7.76662 17.1914 7.13056 16.65 6.59375C16.1094 6.06255 15.4732 5.63842 14.775 5.34375C14.0467 5.03968 13.2642 4.8871 12.475 4.89531C11.6857 4.88759 10.9032 5.0407 10.175 5.34531C9.47071 5.63936 8.83298 6.07248 8.3 6.61875C7.76881 7.15873 7.34468 7.7944 7.05 8.49219C6.74539 9.21925 6.59227 10.0008 6.6 10.7891C6.6 11.3391 6.675 11.8641 6.825 12.3625C6.975 12.8875 7.175 13.3625 7.45 13.8109C7.7 14.2609 8.05 14.6609 8.425 15.0359C8.65 15.2609 8.9 15.4594 9.175 15.6344C8.59662 15.8938 8.05112 16.2211 7.55 16.6094C6.9 17.1094 6.325 17.7078 5.85 18.3578C5.37853 19.0291 5.01575 19.7705 4.775 20.5547C4.75 20.6047 4.75 20.6547 4.75 20.6797C2.775 18.6812 1.55 15.9844 1.55 12.9875C1.55 6.96875 6.475 2.04844 12.5 2.04844C18.525 2.04844 23.45 6.96875 23.45 12.9875C23.4467 15.8624 22.3052 18.6191 20.275 20.6547Z' fill='%23006B4F'/%3E%3C/svg%3E%0A");        
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        background-size: contain;        
        width: 22px;
        height: 22px;        
    } 
}
:global(.vtex-flex-layout-0-x-flexColChild--login-text) {
    
    display: flex;
    justify-content: center;
    align-items: center;
}



//==========================================================================
//   RESPONSIVO MOBILE
//==========================================================================
@media(max-width: $screen-tb) {
  
}