.shelf__icon {
  margin: 30px 0 0;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;  
  
}

.shelf__icon p {
    margin: 5px 0 0;
    font-size: 13px;
    color: #12735F;    
    letter-spacing: -.5px;
}
/*
.__icon + .__icon {
    border-left: 1px solid #FCC626;
}
*/
.__icon {
    text-align: center;
    padding: 3px;
    /*
    padding-right: 3px;
    margin-right: 3px;
    */
}
.__icon img {
    width: 100%;
    max-width: 50px;
}

@media(max-width: 640px) {
    
}