//==========================================================================
//   DOTS
//==========================================================================
.paginationDotsContainer {
  	.paginationDot{
    	transition: all .10s linear;    	
    	border: 2px solid $primaryColor;        
    	width: 12px !important;
    	height: 12px !important;
    }
}
.sliderLayoutContainer--dot-inner {
    .paginationDotsContainer {
        bottom: 20px;
    }
}
.sliderLayoutContainer--arrow-inner {
    .sliderLeftArrow {
        left: 15px;
    }
    .sliderRightArrow {
        right: 15px;
    }
}

//==========================================================================
//   ARROW
//==========================================================================
:global(.vtex-shelf-1-x-arrow),  //crosseling
.sliderArrows {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff !important;
    padding: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 0;
    border: 1px solid $border;
    line-height: 1;
    box-sizing: border-box;

    .caretIcon {
        color: $text;
    }
  
    &:hover {      
        border-color: $primaryColor;
        .caretIcon {
            color: $primaryColor;
        }      
    }
  
    &:disabled {
        display: none;
    }
}

//EFFECT HOVER
.sliderArrows {  
    transition: all 0.2s ease;
    
    &:hover {
        transform: scale(1.2);
    }
}

//ICON
:global(.vtex-shelf-1-x-caretIcon),  //crosseling
.caretIcon {
    width: 12px;
    height: 12px;    
}

// ARROW LEFT
:global(.vtex-shelf-1-x-arrowLeft),  //crosseling
.sliderLeftArrow{
    left: -10px;
}

//ARROW RIGHT
:global(.vtex-shelf-1-x-arrowRight), //crosseling
.sliderRightArrow{
    right: -10px;
}

//==========================================================================
//   RESPONSIVE TABLET
//==========================================================================
@media(max-width: $screen-tb) {
    :global(.vtex-shelf-1-x-arrow) {
        display: none !important;
    }
    .sliderLayoutContainer {
        padding-bottom: 30px;
    }
    .sliderLayoutContainer--dot-inner {
        padding-bottom: 0;
    }
}

//==========================================================================
//   RESPONSIVE PHONE
//==========================================================================
@media(max-width: $screen-mb) {

   
}




