//shelf
.sliderTrackContainer--shelf {
    padding: 0 1px 54px;
}

//==========================================================================
//   RESPONSIVE PHONE
//==========================================================================
@media(max-width: $screen-mb) {

    //shelf
    .sliderTrackContainer--shelf {
        padding: 0 1px;
    }
    .sliderTrack--carousel {
        :global(.vtex-product-summary-2-x-element) {
            margin: 0 !important;
        }
    }
}