.childrenContainer--drawerMobile {
	padding: 10px;
	
}
.drawer--drawerMobile {
	background-color: #F1F1F1;;	
}
.opened--drawerMobile {
	.closeIconButton--close-mobile-x {
		display: flex !important;
	}
}
.drawerContent--drawerMobile {
	.drawerHeader {
		align-items: center;

		.closeIconButton--close-mobile-x {
			position: absolute;
			top: 0;
			left: 100%;
			display: none;
			.closeIcon {
				display: none;
			}
			&::after {
				content: "";
				display: block;
				width: 30px;
				height: 30px;
				background-repeat: no-repeat;
				background-size: 80%;
				background-position: center;
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='800px' height='800px' viewBox='0 0 1024 1024'%3E%3Cpath fill='%23000000' d='M195.2 195.2a64 64 0 0 1 90.496 0L512 421.504 738.304 195.2a64 64 0 0 1 90.496 90.496L602.496 512 828.8 738.304a64 64 0 0 1-90.496 90.496L512 602.496 285.696 828.8a64 64 0 0 1-90.496-90.496L421.504 512 195.2 285.696a64 64 0 0 1 0-90.496z'/%3E%3C/svg%3E");
				background-color: #fff;
				border-radius: 50%;
			}
		}
		

		.closeIconButton--close-mobile-back {
			display: flex;
			align-items: center;
			column-gap: 2px;

			.closeIcon {
				color: $base;
				width: 26px;
				height: 26px;
			}
			&::after {
				content: "voltar";
				color: $base;
				font-size: 14px;
			}
		}
	}

	.openIconContainer {
		padding: 13px 0 13px 30px;
		margin: 0;
		border-bottom: 1px solid #ddd;
		display: flex;

		&::after {
			content: "";
			height: 13px;
			width: 13px;
			background-repeat: no-repeat;
			background-size: 100%;
			background-position: center;
			margin-left: auto;
			display: block;
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='800px' height='800px' viewBox='0 0 16 16'%3E%3Cpath fill='%23000000' fill-rule='evenodd' d='M5.29289,3.70711 C4.90237,3.31658 4.90237,2.68342 5.29289,2.29289 C5.68342,1.90237 6.31658,1.90237 6.70711,2.29289 L11.7071,7.29289 C12.0976,7.68342 12.0976,8.31658 11.7071,8.70711 L6.70711,13.7071 C6.31658,14.0976 5.68342,14.0976 5.29289,13.7071 C4.90237,13.3166 4.90237,12.6834 5.29289,12.2929 L9.58579,8 L5.29289,3.70711 Z'/%3E%3C/svg%3E");
		}
	}
}

//component
.drawer--menuDrawer {
	background-color: #fff;
}

.childrenContainer--menuDrawer {
	flex-direction: column;
}

//close
.closeIconButton--menuDrawer {
	padding: 8px;
	display: flex;
	align-items: center;
	.closeIcon {
		color: #fff;
		display: none;
	}

	&::before {
		content: "";
		display: block;
		width: 30px;
		height: 30px;
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg width='800px' height='800px' viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23ffffff' fill-rule='evenodd' d='M10.707085,3.70711 C11.097605,3.31658 11.097605,2.68342 10.707085,2.29289 C10.316555,1.90237 9.683395,1.90237 9.292865,2.29289 L4.292875,7.29289 C3.902375,7.68342 3.902375,8.31658 4.292875,8.70711 L9.292865,13.7071 C9.683395,14.0976 10.316555,14.0976 10.707085,13.7071 C11.097605,13.3166 11.097605,12.6834 10.707085,12.2929 L6.414185,8 L10.707085,3.70711 Z'/%3E%3C/svg%3E");
	}

	&::after {
		content: "Voltar";
		color: #fff;
	}
}



//==========================================================================
//   RESPONSIVO MOBILE
//==========================================================================

:global(.vtex-flex-layout-0-x-flexRowContent--mobile-content-header) {
	.openIconContainer {
		padding: 0;
		width: 40px;
		height: 40px;		
		display: flex;
		align-items: center;
		justify-content: center;
		color: #fff;
		
		
	}
}

@media(max-width: $screen-tb) {
	
}