.stackItem {
    top: auto;
    bottom: 0;
}
.stackItem--wishlist-btn-summary {
    right: 5px;
    top: 6px;
    bottom: auto;
    width: 32px;
    height: 32px;
    left: auto;
}
.stackItem--highlights-summary {
    top: auto;
    bottom: 0;
}

.stackItem--summaryPercentage {
    top: 10px;
    bottom: auto;
    right: auto;
    left: -10px;
}
