

//==========================================================================
//   CONTAINER
//==========================================================================
.flexCol--full-container .flexRowContent--wrap,
:global(.vtex-store-components-3-x-container) {
    padding-left: 20px;
	padding-right: 20px;    
    max-width: $container;	
	margin: 0 auto;
	box-sizing: border-box;
}

//==========================================================================
//   MARGIN
//==========================================================================
.flexRow--card {
	margin-top: 40px;
}


//==========================================================================
//   COLUMN
//==========================================================================

//flex
:global(.vtex-slider-layout-0-x-sliderTrack--wCol),
.flexRowContent--wCol {
  	column-gap: $column;	
}


.flexRowContent--list-products-assinatura {
	.flexRow--summary-actions {
		display: none !important;
	}
}
.flexRow--summary-action {
	display: none;
	
}
.flexRowContent--list-products-assinatura {
	.flexRow--summary-action {
		display: block !important;
		:global(.vtex-rich-text-0-x-wrapper){
			width: 100%;

		}
		:global(.vtex-rich-text-0-x-paragraph--buy-button-sub) {
			width: 100%;
			height: 38px;
			text-align: center;
			justify-content: center;
		}
	}
}

//==========================================================================
//   RESPONSIVO TABLET
//==========================================================================
@media(max-width: $screen-tb) {
	
	:global(.vtex-slider-layout-0-x-sliderTrack--wCol),
	.flexRowContent--wCol {
		column-gap: 10px;	
	}

	.flexCol--full-container,
	:global(.vtex-store-components-3-x-container) {
		padding-left: 10px;
		padding-right: 10px;
	}

	.flexRow--card {
		margin-top: 28px;
	}
}

//login
.flexRowContent--full-login {
	flex-direction: column;
	max-width: 400px;
	margin: 20px auto;
	padding:30px 15px 10px;
	border-radius: $radius;
	border:1px solid $border;
	background-color: #fff;

	.stretchChildrenWidth {
		width: 100% !important;
	}

	:global(.vtex-rich-text-0-x-wrapper) {
		width: 100%;
	}

	:global(.vtex-rich-text-0-x-heading) {
		text-align: center;
		font-size: 18px;
		color: #999;
		margin: 0 0 10px;
	}

	:global(.vtex-rich-text-0-x-paragraph) {
		margin: 0 0 20px;
		text-align: center;
		font-size: 14px;
	}

	:global(.vtex-rich-text-0-x-link) {
		text-decoration: underline;
		font-weight: $sBold;
		color: #000;
	}
}

//==========================================================================
//   RESPONSIVO MOBILE
//==========================================================================
@media(max-width: $screen-mb) {
	
}